<h1>Admin Dashboard</h1>

<div class="list-group">
  <a href="admin/questions" class="list-group-item">
    Questions
  </a>
  <a href="admin/difficulties" class="list-group-item">
    Difficulties
  </a>
  <a href="admin/choices" class="list-group-item">
    Choices
  </a>
  <a href="admin/user_responses" class="list-group-item">
    User Responses
  </a>
  <a href="admin/users" class="list-group-item">
    Users
  </a>
</div>