<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_instance.question %>
</p>

<%= link_to 'Edit', edit_question_instance_path(@question_instance) %> |
<%= link_to 'Back', question_instances_path %>
