<h1>Past Questions</h1>

<ol>
<% @past_questions.each do |past_question| %>
    <li>
        <% if past_question.id == @current_question.id %>
            CURRENT QUESTION:
        <% end %>
        <%= link_to past_question.question.question, past_question_path(past_question) %>
    </li>
<% end %>
</ol>

<br>
