<h1>Listing past_questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @past_questions.each do |past_question| %>
        <tr>
            <td><%= past_question.question %></td>
            <td><%= link_to 'Show', past_question_path(past_question) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
