<p id="notice"><%= notice %></p>

<p>
  <strong>Points:</strong>
  <%= @admin_difficulty.points %>
</p>

<%= link_to 'Edit', edit_admin_difficulty_path(@admin_difficulty) %> |
<%= link_to 'Back', admin_difficulties_path %>
