<% content_for :content do %>
<div class="row">
	<div class="col-md-8 col-md-offset-4">
		<div class="your-clock"></div>
	    <script type="text/javascript">
	    	var diff = 20 - <%= @currentQuestionInstance[:questionAge] %>;
				var clock = $('.your-clock').FlipClock(diff, {
					countdown: true,
					clockFace: 'MinuteCounter',
					callbacks: {
		        	stop: function() {
		        		location.reload();
		        	}
		        }
				});
				
				if (clock.getTime() == 0) {
					location.reload();
				}
	    </script>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	    <h3><%= @currentQuestionInstance[:question].question %></h3>
	    <%= yield %>
	</div>
</div>
<% end %>
<%= render template: "layouts/application" %>